<div class="new-game-btn-ctn">
<button mat-button color="primary" (click)="newGame()" id="new-game-button">Start new Game</button>
</div>
<div class="modal-bg" [ngStyle]="{'filter': winner ? 'blur(10px)': 'blur(0px)'}">



<!-- <h2 *ngIf="draw">
    The game is drawn
</h2> -->
<div class="grid-ctn">
<mat-card>
<main>
    <app-square 
        *ngFor="let val of squares; let i = index" 
        [value]="val"
        (click)="makeMove(i)"> 

    </app-square>
</main>
</mat-card>
<h2>Current Player: {{ player }} </h2>

</div>
</div>

<div class="win-modal" *ngIf="winner">
    <mat-card class="card-modal">
    <h2>
        {{ winner }} won the game!
    </h2>
    </mat-card>
</div>
