mat-card{
    display: grid;
    padding: 1em;
    //width: 60%;
    align-self: center;
    justify-self: center;
    // grid-template-columns: repeat();
}
main {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    grid-gap: .5em;
    // padding: 2em;
    
}
app-square {
    //  border: 1px gray solid; 
     height: 28vh;
     width: 20vw;
}
#new-game-button{
    display: inline-block;
    font-size: 2rem;
    padding: .5em 1.5em;
}
.new-game-btn-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.win-modal{
    display: block;
    padding: 5em;
    // background-color: white;
    // color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 200px;
    // width: 200px;
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}
.card-modal{
    padding: 3rem;
}


@media screen and (max-width: 600px){
    app-square{
        width: 25vw;
        height: 20vh;
    }
    #new-game-button{
        font-size: 2rem;
    }
}
@media screen and (min-width: 1200px){
    main{
        grid-gap: 1em;
    }
    #new-game-button{
        font-size: 4rem;
    } 
}